*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}
/* nav bar css is start  */
 
header{
    background: rgba(255, 144, 14, 0.1);
}
.container{
    padding: 30px 100px;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-text{
    display: flex;
}
.navbar-text li{
    margin: 0 15px;
    cursor: pointer;
}
.menu-btn{
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* brand container section start  */

.brand-container{
    margin: 40px 300px;
    text-align: center;
}
.brand-container p{
    color: #727272;
    margin: 15px 0;
}
.btn-primary{
    background: #FF900E;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}

/* brand container section finish */

.banner img{
    width: 100%;
    height: 100%;
}

/* banner section finish  */

.team-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 120px;
}
.single-images-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.team-container-text{
    margin-left: 50px;
}
.team-container-text h1{
    color: gray;
    font-size: 40px;
    margin-bottom: 10px;
}
.team-container-text h1 .first-span{
    color: black;
}
.team-container-text h1 .second-span{
    color: #FF900E;
}
.team-container-text p{
    color:#727272 ;
    margin-bottom: 10px;
}

/* team container finish */

.architect-container{
    display: flex;
    justify-content: space-between;
    margin: 80px 50px 0 120px;
    position: relative;
    padding: 50px;
}
.architect-single-container{
    width: 979px;
    padding-right: 40px;
}
.architect-image-box{
    margin-bottom: 30px;
}
.architect-image-box img{
    height: 100%;
    width: 100%;
}
.architect-top-text h1{
    color: #131313;
    border-left: 4px solid #FF900E;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 35px;
}
.architect-second-text p{
    color: #727272;
    margin-bottom: 20px;
}
.architect-single-item{
    padding: 20px 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow:1px 1px 50px rgba(0, 0, 0, 0.205);
}
.architect-single-item h2{
    color: #181313;
    font-size: 20px;
    margin-bottom: 10px;
}
.architect-single-item p{
    color: #727272;
}

/* architect section finish */

.experience-button{
    background-color: #FF900E;
    text-align: center;
    border: none;
    padding: 40px 30px;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 716px;
    left: 662px;
}
.experience-button span{
    font-size: 45px;
}

/* experience section finish  */

.some-facts-container{
    margin: 60px 160px;
}
.some-facts-container h2{
    font-size: 35px;
    margin-bottom: 25px;
}
.some-facts-container p{
    color: #727272;
}

/* some facts section finish  */

/* nav bar media quarries use here   */

@media only screen and (max-width:576px){
    .container{
        padding: 0;
    }
    .navbar-text{
        position: fixed;
        top: 50px;
        background-color: #17202A;
        height: 100vh;
        width: 100%;
        color: white;
        left: -100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: 0.5s ease-in-out;
    }
    .navbar-text li {
        margin: 50px 0;
        font-size: 25px;
    }
    .menu-btn{
        display: block;
        margin: 20px 20px 0 0;
    }
    #check:checked ~ ul{
        left: 0%;
    }
    #check:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    .navbar-logo h2{
        margin: 20px 0 0 20px;
    }

    /* navbar responsive finish */

    .brand-container{
        text-align: center;
        margin: 60px 20px 0 20px;
    }
    .banner img{
        padding: 50px 20px;
    }

    /* banner responsive finish  */

    .team-container{
        flex-direction: column;
    }
    .single-images-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .team-container-text{
        margin: 40px -100px;
    }
    .team-container-text h1{
        margin:10px 0;
    }
    .team-container-text p{
        margin: 10px 0;
    }

    /* architect section media quarries  */

    .architect-container{
        margin: 0 5px;
        flex-direction: column;
        padding: 0 10px;
    }
    .architect-single-container{
        width: 100%;
    }
    .architect-top-text h1{
        margin-top: 5px;
    }
    .architect-single-container{
        padding: 0;
    }
    .experience-button{
        position: static;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    }

    /* some facts section media quarries */

    .some-facts-container{
        margin: 10px 15px;
    }
}
